ops/n8n/workflows/cerebro_premarket_pipeline.json
{
  "name": "Cerebro Premarket Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        220
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "cd /home/operator/.openclaw/workspace && bash ops/check_mnemosyne_lanes.sh --mode runtime"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        240,
        100
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf000",
      "name": "Check Mnemosyne Lanes"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '{}';\nconst parsed = JSON.parse(raw);\nreturn [{\n  valid: Boolean(parsed.valid),\n  everos_enabled: parsed.everos_enabled || 'unset',\n  runtime_guard_ok: Boolean(parsed.runtime_guard_ok),\n  missing: parsed.missing || [],\n  raw: parsed,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        100
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf000a",
      "name": "Parse Mnemosyne Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf000b-cond",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        100
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf000b",
      "name": "Mnemosyne Ready?"
    },
    {
      "parameters": {
        "command": "cd /home/operator/.openclaw/workspace && CEREBRO_RUN_MODE=build_only ./run_daily_sec_catalyst.sh"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        240,
        220
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf002",
      "name": "Run Premarket Pipeline"
    },
    {
      "parameters": {
        "command": "cd /home/operator/.openclaw/workspace && python3 cerebro_verify.py --mode manifest --manifest /home/operator/.openclaw/workspace/pipeline_manifest.json --base-url http://127.0.0.1:8000"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        480,
        220
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf003",
      "name": "Verify Pipeline Manifest"
    },
    {
      "parameters": {
        "command": "cat /home/operator/.openclaw/workspace/scanner_artifact_status.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        220
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf004",
      "name": "Read Scanner Artifact Status"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '{}';\nconst parsed = JSON.parse(raw);\nconst counts = parsed.counts || {};\nconst primarySectionCount = Object.values(counts).reduce((sum, value) => sum + Number(value || 0), 0);\nreturn [{\n  valid: Boolean(parsed.valid),\n  primarySectionCount,\n  generated_at: parsed.generated_at || null,\n  counts,\n  raw: parsed,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        220
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf005",
      "name": "Parse Artifact Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf005-cond",
              "leftValue": "={{ $json.primarySectionCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        220
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf006",
      "name": "Artifacts Valid?"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/api/briefing",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        120
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf007",
      "name": "Fetch Briefing"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  workflow_status: 'premarket_ok',\n  next_action: 'route_briefing_to_operator_channels',\n  briefing: $json,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        120
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf008",
      "name": "Build Premarket Packet"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf009-status",
              "name": "workflow_status",
              "value": "premarket_review_required",
              "type": "string"
            },
            {
              "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf009-reason",
              "name": "reason",
              "value": "artifact_invalid_or_manifest_review_required",
              "type": "string"
            },
            {
              "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf009-next",
              "name": "next_action",
              "value": "route_to_human_review",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        340
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf009",
      "name": "Build Failure Packet"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf010-status",
              "name": "workflow_status",
              "value": "premarket_review_required",
              "type": "string"
            },
            {
              "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf010-reason",
              "name": "reason",
              "value": "mnemosyne_gate_failed",
              "type": "string"
            },
            {
              "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf010-missing",
              "name": "missing",
              "value": "={{ ($json.missing || []).join(',') }}",
              "type": "string"
            },
            {
              "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf010-next",
              "name": "next_action",
              "value": "route_to_human_review",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        20
      ],
      "id": "6fb7956e-7af8-4d68-9240-4df8fe6bf010",
      "name": "Build Mnemosyne Failure Packet"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Mnemosyne Lanes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mnemosyne Lanes": {
      "main": [
        [
          {
            "node": "Parse Mnemosyne Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Mnemosyne Status": {
      "main": [
        [
          {
            "node": "Mnemosyne Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mnemosyne Ready?": {
      "main": [
        [
          {
            "node": "Run Premarket Pipeline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Mnemosyne Failure Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Premarket Pipeline": {
      "main": [
        [
          {
            "node": "Verify Pipeline Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Pipeline Manifest": {
      "main": [
        [
          {
            "node": "Read Scanner Artifact Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Scanner Artifact Status": {
      "main": [
        [
          {
            "node": "Parse Artifact Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Artifact Status": {
      "main": [
        [
          {
            "node": "Artifacts Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifacts Valid?": {
      "main": [
        [
          {
            "node": "Fetch Briefing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Briefing": {
      "main": [
        [
          {
            "node": "Build Premarket Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "versionId": "6fb7956e-7af8-4d68-9240-4df8fe6bf010",
  "id": "cerebro-premarket-pipeline",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
