ops/n8n/workflows/cerebro_mnemosyne_gate.json
{
  "name": "Cerebro Mnemosyne Gate",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        220
      ],
      "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "command": "cd /home/operator/.openclaw/workspace && bash ops/check_mnemosyne_lanes.sh --mode runtime"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        240,
        220
      ],
      "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0002",
      "name": "Check Mnemosyne Lanes"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '{}';\nconst parsed = JSON.parse(raw);\nreturn [{\n  valid: Boolean(parsed.valid),\n  everos_enabled: parsed.everos_enabled || 'unset',\n  runtime_guard_ok: Boolean(parsed.runtime_guard_ok),\n  missing: parsed.missing || [],\n  raw: parsed,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        220
      ],
      "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0003",
      "name": "Parse Mnemosyne Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0004-cond",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        220
      ],
      "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0004",
      "name": "Mnemosyne Ready?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0005-status",
              "name": "workflow_status",
              "value": "mnemosyne_ready",
              "type": "string"
            },
            {
              "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0005-everos",
              "name": "everos_enabled",
              "value": "={{ $('Parse Mnemosyne Status').item.json.everos_enabled }}",
              "type": "string"
            },
            {
              "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0005-next",
              "name": "next_action",
              "value": "allow_downstream_workflows",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        120
      ],
      "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0005",
      "name": "Build Success Packet"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0006-status",
              "name": "workflow_status",
              "value": "mnemosyne_review_required",
              "type": "string"
            },
            {
              "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0006-reason",
              "name": "reason",
              "value": "memory_lane_missing_or_guard_invalid",
              "type": "string"
            },
            {
              "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0006-missing",
              "name": "missing",
              "value": "={{ ($json.missing || []).join(',') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        340
      ],
      "id": "98aef88b-31b4-4ce1-9cae-1bdac44f0006",
      "name": "Build Failure Packet"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Check Mnemosyne Lanes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mnemosyne Lanes": {
      "main": [
        [
          {
            "node": "Parse Mnemosyne Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Mnemosyne Status": {
      "main": [
        [
          {
            "node": "Mnemosyne Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mnemosyne Ready?": {
      "main": [
        [
          {
            "node": "Build Success Packet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "versionId": "98aef88b-31b4-4ce1-9cae-1bdac44f0007",
  "id": "cerebro-mnemosyne-gate",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
